.experience-contents li{
    list-style-type: disc;
}

.experience-content {
    background-color: var(--black);
    border-radius: 10px;
    flex-direction: column;
    width: 80%;
    display: flex;
    gap: 10px;
    padding: 15px;
    height: 300px;

}

.experience-content-year {
    margin-top: 5px;
    width: 20%;
    padding: 5px 4px;
    text-align: center;
    background-color: var(--yellow);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    min-width: 200px;
}

.experience-content-month {
    font-size: 14px;
}

.experience-content-name{
    font-size: 22px;
    font-weight: bolder;
    color: var(--white);
}

.project-link {
    color: var(--yellow);
}

.experience-content-major {
    font-size: 22px;
    font-weight: bolder;
    color: #e9e9e9;
}

.experience-content-college {
    font-size: 20px;
    font-weight: bolder;
    color: var(--yellow);
}

.experience-content-college:hover {
    color: var(--dark-yellow);
    cursor: pointer;
}

.experience-content-details {
    margin-top: 5px;
    font-size: 15px;
    color: var(--gray);
    font-weight: bold;
}

#progress {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
}

circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
}

.bg {
    stroke: var(--black);
    opacity: 0.3;
}

#progress .indicator {
    stroke: var(--dark-yellow);
}

.experience-contents{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
    width: 800px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: white;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-yellow);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: var(--black);
}

.experience-contents li {
    flex: 0 0 200px;
    background: var(--black);
    margin: 0 20px 0 0;
}

.experience-content {
    min-width: 780px;
}

.experience-contents li:last-of-type {
    margin: 0;
}