.header li {
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
}

.header li:hover {
    color: var(--yellow);
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    height: 55px;
}

.header.scrolled {
    background-color: var(--black);
}

.nav-item.scrolled, .logo.scrolled {
    color: var(--white);
}

.right {
    display: flex;
    align-items: center;
}

.left {
    font-size: x-large;
}

.logo {
    font-family: sans-serif;
    color: var(--black);
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;

}

.nav-item {
    font-family: sans-serif;
    font-weight: bold;
    color: var(--black);
    font-size: larger;
}

.git-icon path, .linkedin-icon path {
    fill: var(--black);
    transition: fill 0.3s;
}

.git-icon.scrolled path, .linkedin-icon.scrolled path {
    fill: var(--white);
    transition: fill 0.3s;
}

.nav-item:hover {
    color: var(--yellow);
}

.social-icon:hover svg path {
    fill: var(--dark-yellow);
}