.footer {
    height: 4rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
}

.copyright {
    color: var(--black);
    display: flex;
    justify-content: center;
}

.others {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    justify-content: center;
    color: var(--black);
}

.copyright, .others {
    flex: 10;
}


.others li:first-child:after {
    content: "|";
    color: var(--yellow);
}

.back-to-top {
    flex: 2;
}

.back-to-top-button {
    float: right;
    margin-right: 2rem;
}

.back-to-top svg path {
    fill: var(--yellow);
    transition: fill 0.3s;
}

.back-to-top:hover svg path {
    fill: var(--dark-yellow);
}
