.address {
    font-family: sans-serif;
}

.address-title {
    padding-bottom: 0;
}

.address-title, .follow-me {
    color: #e9e9e9;
    font-size: 25px;
    font-weight: bolder;
}

.address-detail, .phone, .email {
    color: #dfe2e3;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.address-detail {
    padding-top: 0;
    padding-bottom: 30px;
}

.email {
    padding-bottom: 10px;
}

.follow-me-icons{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: unset;
}

.follow-me-icons li {
    padding-right: 20px;
}

.follow-me-icon svg path {
    fill: #e9e9e9;
    transition: fill 0.3s;
}

.follow-me-icon:hover svg path{
    fill: #0A66C2;
}