.resume-title{
    position: relative;
    font-family: sans-serif;
    color: var(--black);
}

.resume-title h1 {
    font-size: 45px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.resume-title p {
    opacity: 0.15;
    font-size: 150px;
    font-weight: bolder;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

#add-line {
    border-bottom: 3px solid var(--dark-yellow);
    padding-bottom: 2px;
}