.about {
    display: flex;
    align-items: center; /* Vertical center alignment */
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    height: 1000px;
}

.about-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 1000px;
}

.about-title h1 {
    font-size: 45px;
    padding-top: 130px;
    margin: 0;
}

.about-title p {
    opacity: 0.15;
    font-size: 150px;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0;
    min-width: 700px;
}

.Portrait {
    flex: 0 0 auto;
}


#add-line {
    border-bottom: 3px solid var(--dark-yellow);
    padding-bottom: 2px;
}

.about-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#description {
    min-width: 600px;
    width: 40%;
}

#info-form {
    width: 20%;
}

#info-form ul {
    min-width: 330px;
    list-style-type: none;
    padding: 0;
}

#info-form li {
    margin-bottom: 10px;
}

#info-form li:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    margin-top: 5px;
}

#info-form li:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#description h2 {
    font-family: sans-serif;
    color: var(--white);
    font-size: 30px;
}

#description p {
    font-family: sans-serif;
    color: var(--gray);
    font-weight: 550;
}

#description h2 span {
    color: var(--dark-yellow);
}

.key {
    font-family: sans-serif;
    color: var(--white);
    font-weight: bolder;
    font-size: 19px;
}

.value {
    font-family: sans-serif;
    color: var(--dark-yellow);
    font-weight: bold;

}

/* CSS */
#download-btn, #view-btn {
    min-width: 145px;
    align-items: center;
    background-color: var(--yellow);
    /*background-color: transparent;*/
    border: 1px;
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    justify-content: space-between;
}

#download-btn:hover,
#view-btn:hover {
    background-color: var(--dark-yellow);
    color: var(--black);
}

